
.card-big-shadow {
    position: relative;
}

.coloured-cards .card {
    margin-top: 30px;
}

.notecard[data-radius="none"] {
    border-radius: 0px;
}
.notecard {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.notecard:hover {
    scale: 1.1;
    border-radius: 70px 0;
    transition: 1s;
}

.notecard[data-background="image"] .title, .notecard[data-background="image"] .stats, .notecard[data-background="image"] .category, .notecard[data-background="image"] .description, .notecard[data-background="image"] .content, .notecard[data-background="image"] .notecard-footer, .notecard[data-background="image"] small, .notecard[data-background="image"] .content a, .notecard[data-background="color"] .title, .notecard[data-background="color"] .stats, .notecard[data-background="color"] .category, .notecard[data-background="color"] .description, .notecard[data-background="color"] .content, .notecard[data-background="color"] .notecard-footer, .notecard[data-background="color"] small, .notecard[data-background="color"] .content a {
    color: #FFFFFF;
}
.notecard.card-just-text .content {
    padding: 50px 65px;
    text-align: center;
}
.notecard .content {
    padding: 20px 20px 10px 20px;
}
.notecard[data-color="blue"] .category {
    color: #7a9e9f;
}

.notecard .category, .notecard .label {
    font-size: 14px;
    margin-bottom: 0px;
}
.card-big-shadow:before {
    background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
h4, .h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}
h6, .h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}
.notecard .description {
    font-size: 16px;
    color: #66615b;
}
.content-card{
    margin-top:30px;    
}
a:hover, a:focus {
    text-decoration: none;
}

/*======== COLORS ===========*/
.notecard[data-color="blue"] {
    background: #b8d8d8;
}
.notecard[data-color="blue"] .description {
    color: #506568;
}

.notecard[data-color="green"] {
    background: #d5e5a3;
}
.notecard[data-color="green"] .description {
    color: #60773d;
}
.notecard[data-color="green"] .category {
    color: #92ac56;
}

.notecard[data-color="yellow"] {
    background: #ffe28c;
}
.notecard[data-color="yellow"] .description {
    color: #b25825;
}
.notecard[data-color="yellow"] .category {
    color: #d88715;
}

.notecard[data-color="brown"] {
    background: #d6c1ab;
}
.notecard[data-color="brown"] .description {
    color: #75442e;
}
.notecard[data-color="brown"] .category {
    color: #a47e65;
}

.notecard[data-color="purple"] {
    background: #baa9ba;
}
.notecard[data-color="purple"] .description {
    color: #3a283d;
}
.notecard[data-color="purple"] .category {
    color: #5a283d;
}

.notecard[data-color="orange"] {
    background: #ff8f5e;
}
.notecard[data-color="orange"] .description {
    color: #772510;
}
.notecard[data-color="orange"] .category {
    color: #e95e37;
}